# ==== Build STM32 ====
Debug/
Release/

# ==== Fichiers compilés ====
*.o
*.su
*.cyclo
*.map
*.list
*.elf
*.bin
*.hex

# ==== STM32CubeIDE ====
.settings/
.metadata/

# ==== Logs / temp ====
*.log

# ==== Launch configs ====
*.launch

# ==== OS ====
.DS_Store
Thumbs.db